html{
    height: 100%;
}
body{
    height: 100%;
    margin: 0px;
    background: url(../images/About_me/images.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}
.titleAbout{
    position: absolute;
    display: inline-block;
    margin-top: 10px;
    margin-left: 45%;
     width: max-content;
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
    color: black;
}

.button {
    position: absolute;
    margin-top:  10px;
    margin-left: 75px;
    display: inline-block;
    width: 50px;

}
.homeButton{
    cursor: pointer;
    position:sticky;
    width: 50px;

}

.tmp1 {
   margin-left:30px;
   width: min-content;
   height:min-content

}

.picOfme {
    box-sizing: border-box;
    width:400px;
    margin-left: 20px;
    margin-top: 30%;
    padding-top: 0px;
    border: 8px solid gray;


}
 .tmp1{
    display: inline-block;
     width: max-content;
 }
.trl{
    display: inline-block;
    position: absolute;
    margin-top: 100px;
    margin-left: 10%;
    vertical-align: middle;
    width: 30%;


}
.text {
 font-family:cursive;
font-size: 1.5em;
}
.poslepis{
    margin-left: 50px;
    font-family:cursive;
    font-size: 1.5em;
}
