html{
    width: 100%;
}
body{
    margin: 0;
    width: 100%;
    background-image: url(/images/contacst/contactsbg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.main{
    position: relative;
    width: max-content;
    height: max-content;
     margin: auto;
     margin-top: 5%;
    border: 10px solid rgb(73, 72, 72);
    background-color: rgb(158, 157, 157);
     opacity: 60%;
}
 section>p{
  position: relative;
  width: max-content;
  font-family: 'Courier New', Courier, monospace;
  font-size:2.5em;
  text-align: center;
  font-weight: bold;
  margin:auto;
  padding-top: 30px;
  color:  rgb(0, 0, 0);

 }
 .map{
  position:relative;
   width: 550px;
   height: 450px;
   margin: auto;
   padding-bottom: 30px;
 }