body{
    margin: 0px;
   background-image: url(/images/form/vintage-barber-paper-jobs-career-concept.jpg);
   background-repeat: no-repeat;
   background-size: cover;
}
.button {
    position: absolute;
    margin-top:  10px;
    margin-left: 75px;
    display: inline-block;
    width: 50px;
    
}
.homeButton{
    position: absolute;
    cursor: pointer;
    position:sticky;
    width: 50px;
}
.form1{
    position: absolute;
    width: 300px;
    margin-top: 27%;
    margin-left: 10%;

}